---
title: About
permalink: /about/
---

<!DOCTYPE html>
    {% include "partials/head.njk" %}
    <body>
        {% include "partials/header.njk" %}
        <main class="about">
            <section class="about-profile">
                <h1>Hey there, my name is Ryan! &#x1F44B;</h1>
                <p>I'm a web specialist building web content and code for CIRO - Canada's own regulator for protecting capital markets and investors.</p>
                <p>This is my basecamp on the internet. Thanks for dropping by! I have put a short story about myself if you would like to read on below.</p>
            </section>
            <div class="about-bio">
                <section class="about-text">
                    <h2>YYZ</h2>
                    <p>A little background - I am born and raised in Toronto and have never moved out of the city. Growing up, I wanted to be an architect but after discovering graphic design, wireframing tools and code, I have been exploring the web. Instead of learning the tools to design city buildings and structures, I always learning new ways to apply semantic HTML, CSS and JavaScript to build websites.</p>
                    <p>With that said - I do appreciate city architecture and have curated photos overtime in my wanderings in Toronto and outside the city with my Fujifilm x100F.</p>
                </section>
                <section class="about-img">
                    <img src="/images/toronto-about-img.png">
                </section>
            </div>
            <div class="about-bio reverse">
                <section class="about-text">
                    <h2>Long Life Learning</h2>
                    <p>I thought university was about learning as much to then land the perfect career role. Instead I can only look back to one of my favourite courses (ITM740) where I was tasked to create wireframes and a prototype for a restaurant-booking mobile app. Creating pitchdecks and collaborating with other students for this project was an unforgettable experience.</p>
                    <p>A recording of the prototype made from Adobe XD still lives on the web, <a href="">watch the video</a>.</p>
                </section>
                <section class="about-img">
                    <img src="/images/wire-frame-character.png">
                </section>
            </div>
            <div class="about-bio">
                <section class="about-text">
                    <h2>Frontend Development</h2>
                    <p>At the core - I am always looking to learn more about the tools to serve others on the web. I have discovered the growing demand for building websites, the maintenance that comes with it and the art of using website builders. With that discovery, I have grown more curious about the engine under the hood and look to learn more about front-end development.</p>
                    <p>After graduation, I've taken more courses related to research, web design and development and continue to create <a href="">projects</a> to apply what I have learned over the years.</p>
                </section>
                <section class="about-img">
                    <img src="/images/life-long-learning-thumbnail.png">
                </section>
            </div>   
             
        </main>
        {% include "partials/footer.njk" %}
        {% include "partials/script.njk" %}
    </body>
</html>