<!DOCTYPE html>
    {% include "partials/head.njk" %}
    <body>
        {% include "partials/header.njk" %}
        <main>
            <section class="featured-section">
                <article class="featured-intro">
                <h2>Weaving Communication, <br>Design & Development</h2>
                <p>Welcome to my digital basecamp where I document my craft in accessibility, design and front-end development.</p>
                </article>
                <article class="featured">
                    <div class="article-header">
                        <p>FEATURED
                        </p>
                        <div class="article-meta">
                            <h2><a href="projects/from-data-to-map-visualizing-regulated-dealers">From Data to Map: Visualizing Regulated Dealers</a></h2>
                        </div>
                        <p>Interactive React and Leaflet dashboard mapping CIRO-regulated dealers across Canada.</p>
                    </div>
                </article>
            </section> 
            <section class="main-section">
                <article class="post article-1">
                
                    <div class="article-header">
                        <div class="article-meta">
                            <div class="article-title">
                                <h2><a href="projects/static-pdf-interactive-learning/">Reimagining Static PDFs</a></h2>
                            </div>
                        </div>
                        <p>A digital experience about banking, saving, investing, risk, and fraud prevention.</p>
                    </div>
                </article>
                <article class="post article-2">
                    
                    <div class="article-header">
                        <div class="article-meta">
                            <div class="article-title">
                                <h2><a href="/articles/reflections-and-javascript">Reflections and JavaScript</a></h2>
                            </div>
                        </div>
                        <p>Creating a daily reflection journal with HTML, CSS and JavaScript.

</p>
                    </div>
                </article>
                <article class="post article-3">
                    
                    <div class="article-header">
                        <div class="article-meta">
                            <div class="article-title">
                                <h2><a href="/articles/creating-accessible-tables">Creating Accessible Tables</a></h2>
                            </div>
                                                   </div>
                        <p>How to create accessible tables in PDF documents for screen reading technologies.</p>
                    </div>
                </article>
                
            </section>
        </main>
        {% include "partials/footer.njk" %}
        {% include "partials/script.njk" %}
    </body>
</html>