<!DOCTYPE html>
    {% include "partials/head.njk" %}
    <body>
        {% include "partials/header.njk" %}
        <main>
            <section class="featured-section">
                <article class="featured-intro">
                <h1>Weaving Communication, <br>Design & Development</h1>
                <p>Rooted in the Latin word <em>texo</em> — <strong>“to weave, to build, to construct”</strong>.</p>
                <p>Welcome to my digital basecamp where I document my craft in accessibility, design and front-end development.</p>
                </article>
                <article class="featured">
                    <header class="article-header">
                        <div class="article-meta">
                            <h2><a href="/article/my-first-post">My First Post</a></h2>
                            <div class="article-date">
                                <p>July 7, 2025</p>
                            </p>
                        </div>
                        <p>I'm excited to start a new learning journey as a Scrimba Bootcamp student! After several months of learning in the Frontend Developer Career Path.</p>
                    </header>
                </article>
            </section> 
            <section class="main-section">
                <article class="post article-1">
                    <img class="article-img" src ="/images/front-end-img.jpg">
                    <header class="article-header">
                        <div class="article-meta">
                            <div class="article-title">
                                <h2><a href="/articles/article-1.html">Article Title 1</a></h2>
                            </div>
                            <div class="article-date">
                                <p>July 7, 2025</p>
                            </div>
                        </div>
                        <p>I'm excited to start a new learning journey as a Scrimba Bootcamp student! After several months of learning in the Frontend Developer Career Path.</p>
                    </header>
                </article>
                <article class="post article-2">
                    <img class="article-img" src ="/images/front-end-img.jpg">
                    <header class="article-header">
                        <div class="article-meta">
                            <div class="article-title">
                                <h2><a href="/articles/article-2.html">Article Title 2</a></h2>
                            </div>
                            <div class="article-date">
                                <p>July 7, 2025</p>
                            </div>
                        </div>
                        <p>I'm excited to start a new learning journey as a Scrimba Bootcamp student! After several months of learning in the Frontend Developer Career Path.</p>
                    </header>
                </article>
                <article class="post article-3">
                    <img class="article-img" src ="/images/front-end-img.jpg">
                    <header class="article-header">
                        <div class="article-meta">
                            <div class="article-title">
                                <h2><a href="/articles/article-3.html">Article Title 3</a></h2>
                            </div>
                            <div class="article-date">
                                <p>July 7, 2025</p>
                            </div>
                        </div>
                        <p>I'm excited to start a new learning journey as a Scrimba Bootcamp student! After several months of learning in the Frontend Developer Career Path.</p>
                    </header>
                </article>
            </section>
        </main>
        {% include "partials/footer.njk" %}
        {% include "partials/script.njk" %}
    </body>
</html>