---
title: Projects
permalink: /projects/
---

<!DOCTYPE html>
    {% include "partials/head.njk" %}
    <body>
        {% include "partials/header.njk" %}
        <main>
            {% include "partials/hero.njk" %}  
            <section class="article-list">
                    <ul>
                        {% for projects in collections.projects %}
                        <li><a href="{{ projects.url }}">{{ projects.data.title }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                
            </section>

        </main>
        {% include "partials/footer.njk" %}
        {% include "partials/script.njk" %}
    </body>
</html>