---
title: Projects
permalink: /projects/
---

<!DOCTYPE html>
    {% include "partials/head.njk" %}
    <body>
        {% include "partials/header.njk" %}
        <main>
            {% include "partials/hero.njk" %}  
            <section class="project-list">
                {% for projects in collections.projects %}
                <div class="project-container">
                <div class="project-featured-image">
                    <img src="{{ projects.data.image }}">
                </div>
                <div class="project-meta-data">
                    <ul>
                        <li><a href="{{ projects.url }}">{{ projects.data.title }}</a></li>
                    </ul>
                    <p>{{ projects.data.description }}</p>
                </div>
                </div>
                {% endfor %}
            </section>

        </main>
        {% include "partials/footer.njk" %}
        {% include "partials/script.njk" %}
    </body>
</html>