 <footer>
    <section class="footer-inner">
            <div>
                <p>Ryan Saballa<br>
                Made in Toronto with <span style="color: #e25555;">&#9829;</span></p>
            </div>
            <div>
                <p>Copyright ©2025</p>
            </div>
    </section>
</footer>