 <footer>
            <div>
                <p>Web Developer Journal</p>
                <p>Made in Toronto with <span style="color: #e25555;">&#9829;</span></p>
            </div>
            <div>
                <p>Copyright ©2025</p>
            </div>
</footer>
<script src="/js/main.js" type="module"></script>