<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.njk" %}
<body>
    {% include "partials/header.njk" %}
  <main>
    <article class="article-post">
      <h2>{{ title }}</h2>
      {{ content | safe }}
    </article>
  </main>
    {% include "partials/footer.njk" %}
</body>
</html>
