<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.njk" %}
<body>
    {% include "partials/header.njk" %}
  <main>
    <section class="article">
      <article class="article-post">
      <h1>{{ title }}</h1>
      {{ content | safe }}
      </article>
    </section>
  </main>
    {% include "partials/footer.njk" %}
    {% include "partials/script.njk" %}
</body>
</html>
