<!DOCTYPE html>
<html lang="en">
    {% include "partials/head.njk" %}
<body>
    {% include "partials/header.njk" %}
  <main>
    <section class="project">
      <article class="project-post">
      <h2>{{ title }}</h2>
      {{ content | safe }}
      </article>
    </section>
  </main>
    {% include "partials/footer.njk" %}
    {% include "partials/script.njk" %}
</body>
</html>
